#meals {
  margin-top: 100px;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.card {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.commentsBtn {
  border-radius: 1.2rem;
}
