footer {
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

footer a,
footer .fa-heart {
  color: #02c167;
  text-decoration: none;
}

footer a:hover {
  font-weight: bolder;
  color: white;
}
